.mainContainer {
  background-image: url('../src/images/background.jpg');
  display: flex;
  justify-content: center;  
  height: 2000px;
}

.Header{
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
}

.bodyStyle{
  background-color: aqua;
  display: flex;
  justify-content: center;
}



.rowNavBar{
  background-image: url('../src/images/navbar.jpg');
  margin-top: 5px;
  width: 100%;
  height: 130px;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.textNavBar{
  margin-left: 20px;
  margin-right: 20px;
  color:white;
  font-family: 'Courier New', Courier, monospace, solid white;
  font-size: 30px;
  font-weight: bold;
  width: 90%;
  
}

.textLog{
  /* color: antiquewhite;
  margin-right: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 40px; */
  margin-left: 15px;
  margin-right: 50px;
  width: 130px;
}


