.mainContainer {
  background-image: url('../src/images/background.jpg');
  display: flex;
  justify-content: center;  
  height: 1200px;
}

.containerHeader{
  display: flex;
  margin-top: 5px;
  justify-content: center;
  height: fit-content;
}

.NavBar{
  background-image: url('../src/images/navbar.jpg');
  width: 100%;
  height: 150px;
}

.textNavBar{
  margin-left: 22px;
  margin-right: 22px; 
  color: whitesmoke !important;
  font-family: 'Courier New', Courier, monospace;
  font-size: 33px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  flex-direction: column;
} 

.botonLogin{
  margin-right: 20px;
  margin-top: 0px;
}

.textLog{
  margin-left: 15px;
  margin-right: 50px;
  width: 150px;
}


.carrouselContainer{
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
}

.carrouselStyle{
  width: 70%;
  height: fit-content;
  margin-top: 2%;
  margin-bottom: 1%;
  display: flex;
  justify-content: center;
}




.colFooter {
  margin-top: 30px;
  display: flex;
}

.labelFooterStyle{
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 1%;
  margin-left: 10px;
  margin-right: 10%;
  font-weight: bolder;
}


